@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// Variables
$main-yellow: #cfc91d;
$main-blue: #02918c;
$main-white: #fff;
$main-grey: #f0f0e8; // for third section
$secondary-grey: #7e8287; // for heading 2nd section
// $secondary-grey-second: #;
$third-grey: #222324; // for footer
$fourth-grey: #898989; // for footer 
$main-black: #000;
$secondary-black: #0b0b0b;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    width: 1920px;
}

/* Start of navbar */
// .nav{
//     // padding: 25px;
//     background-color: #02918c;
//     // width: 50%;
//     min-height: 100px;
//     display: flex;
//     // justify-content: center;
//     align-items: center;
//     // margin: auto;
//     padding: 0 95px;
// }

// .navbar{
//     width: 20%;
//     display: inline-block;
//     display: flex;
//     margin-right: 0;
//     margin-left: 0;

//     // margin-right:;
//     // justify-content:/* of credit*/ center;
//     h2{
//         font-size: 35px;
//         text-transform: uppercase;
//         font-weight: 800;
//         letter-spacing: 1px;
//         color: $main-white;
//         background-color: $main-blue;
//         display: inline-block;
//     }

//     span{
//         color: $main-yellow;
//     }

//     // position: sticky;
//     // display: none;
// }

// .nav-items{
//     z-index: -1;
//     margin-left: auto;
//     margin-right: auto;
//     width: 100%;
//     float: right;
//     // background-color: $main-blue;
//     // display: inline-block;
//     // position: relative;
//     position: absolute;
//     top: 0;
//     right: 0;
//     // bottom: 100px;
    
//     ul{
//         // display: inline-block;
//         float: right;
//         margin-left: auto;
//         // position: relative;
//         // top: 50px;
//         li{
//             display: inline-block;
//             // float: ;
//             a{
//                 float: left;
//                 text-decoration: none;
//                 color: $main-white;
//                 font-weight: 700;
//                 letter-spacing: 1.3px;
//                 font-size: 20px;
//                 text-transform: uppercase;
//                 cursor: pointer;
//             }

//         }
//         li:not(:last-child){
//             margin-right: 45px;
//         }
//     }
//     // position: sticky;
//     // display: none;
// }

// // nav{
//     // display: none;
// // }

.nav-container{
    padding: 25px;
    background-color: #02918c;
    width: 100%;
    min-height: 100px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.nav-title{
    // width: 20px;
    min-height: 100%;
     display: flex;
    align-items: center;
    // justify-content: center;

    h2{
        display: inline-block;
        // width: 20px;
        text-transform: uppercase;
        color: $main-white;
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 35px;

        span{
            color: $main-yellow;
        }
    }
}

.nav-items{
    display: inline-block;
    // float: right;
    ul{
        li{
            float: left;
            list-style: none;

            a{
                text-decoration: none;
            }
        }

        li:not(:last-child){
            margin-right: 45px;

        }
        
    }
}

/* End of navbar */

/* Start of hero section */
.hero-section{
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.021), rgba(0, 0, 0, 0.021)), url('../images/Image.png') no-repeat center/cover;
    color: $main-white;

    .hero-title{
        margin-bottom: 75px;

        h2{
            font-size: 50px;
            font-weight: 500;
            letter-spacing: 0.8px;
            line-height: 30px;
            // margin-bottom: 5px;
        }

        h1{
            text-transform: uppercase;
            font-size: 110px;
            font-weight: 800;
            letter-spacing: 27px;
        }

        h3{
            line-height: 10px;
            font-weight: 500;
            font-size: 28px;
        }
    }

    .hero-bracket-img{
        margin-bottom: 65px;

        img{
            width: 155px;
            height: auto;
        }
    }

}

.main-btn{
    border-color: transparent;
    background-color: $main-yellow;
    font-size: 20px;
    font-weight: 800;
    padding: 22px 52px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in;
    transition-property: transform, opacity;
}

.main-btn:hover{
    // transform: scale(1.2);
    opacity: 0.8;
}
/* End of hero section */

/* Start of about section */
.about-section{
    min-height: 50vh;

    .about-title{
        text-align: center;
        margin-top: 80px;

        h1{
            color: $main-blue;
            font-size: 70px;
            text-transform: uppercase;
            font-weight: 800;
        }

        h5{
           color: $secondary-grey; 
           font-size: 20px;
           letter-spacing: 3px;
           margin-top: 20px;
           margin-bottom: 30px;
        }

        p{
            color: $secondary-grey;
            font-size: 20px;
            line-height: 43px;

            span{
                font-size: 30px;
                font-weight: 800;
            }
        }
    }

    .about-work{
        display: flex;
        flex-direction: row;
        margin-top: 100px;
        margin-bottom: 115px;
        display: flex;
        // width: 100%;
        height: auto;
        // align-items: center;
        justify-content: center;

        .work{
            text-align: center;
            padding-left: 60px;
            padding-right: 60px;
            padding-top: 45px;
            padding-bottom: 50px;

            img{
                width: 42px;
                height: auto;
            }

            h2{
                margin-top: 18px;
                margin-bottom: 18px;
                color: $secondary-grey;
            }

            p{
                color: $secondary-grey;
                // font-size: 16px;
            }
        }

        // .work:not(:last-child){
        //     margin-right: 35px;
        // }

        // .work:not(:first-child){
        //     margin-left: 35px;
        // }

        .work:nth-child(1),
        .work:nth-child(3){
            border-right: 2px solid $main-black;
            border-color: $secondary-grey;
        }

        .work:nth-child(2){
            border-right: 1px solid $main-black;
            border-color: $secondary-grey;
        }
    }
}
/* End of about section */
/* Start of services section */
.services-section{
    background: url('../images/Image\ 02.png') no-repeat center/cover;
    height: 100vh;

    .services-container{
        padding: 90px 120px;
        width: 57.8%;

        .services-title{
            h1{
                color: $main-blue;
                text-transform: uppercase;
                font-size: 70px;
                font-weight: 800;
            }

            h5{
                color: $secondary-grey;
                font-size: 20px;
                letter-spacing: 3px;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            p{
                color: $secondary-grey;
                font-size: 20px;
                line-height: 43px;
            }

            margin-bottom: 70px;
        }

        .services-work{
            display: flex;
            flex-wrap: wrap;

            // .service{
                
            // }

            .service{
                padding-right: 150px;
                padding-bottom: 50px;

                img{
                    width: 42px;
                    height: auto;
                }

                h2{
                    margin-top: 8px;
                    margin-bottom: 8px;
                }

                h2, p{
                    color: $secondary-grey;
                }
            }
        }
    }
}

/* End of services section */
/* Start of my work section */
.my-work-title{
    margin-bottom: 100px;
}

.my-works-container{
    // display: -ms-grid;
    // display: grid;
    // columns: 4;
    // -ms-grid-row: repeat(4, 1fr);
    // grid-row: repeat(4, 1fr);
    // // grid-row: 4;
    // -ms-grid-column: repeat(2, 1fr);
    // grid-column: repeat(2, 1fr);
    // // grid-template-columns: repeat(2, 1fr);
    // // grid-template-rows: repeat(4, 1fr);
    // grid-auto-flow: column;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .my-work{
        height: 352px;
        width: 475px;
        cursor: pointer;
        // width: auto;
    }

    .my-work:nth-child(1){
        background: url('../images/01.png') no-repeat center/cover;
    }

    .my-work:nth-child(2){
        background: url('../images/02.png') no-repeat center/cover;
    }

    .my-work:nth-child(3){
        background: url('../images/03.png') no-repeat center/cover;
    }

    .my-work:nth-child(4){
        background: url('../images/04.png') no-repeat center/cover;
    }

    .my-work:nth-child(5){
        background: url('../images/05.png') no-repeat center/cover;
    }

    .my-work:nth-child(6){
        background: url('../images/06.png') no-repeat center/cover;
    }

    .my-work:nth-child(7){
        background: url('../images/07.png') no-repeat center/cover;
    }

    .my-work:nth-child(8){
        background: url('../images/08.png') no-repeat center/cover;
    }

    .blue-div{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100%;
        justify-items: center;
        flex-direction: column;
        color: $main-white;
        background-color: $main-blue;
        opacity: 0.9;
        transform: scale(0);
        transition: 0.3s eas-in;
        transition-property: transform;

        h4{
            font-size: 25px;
            font-weight: 800;
            margin-bottom: 15px;
        }
    }

    .my-work:hover > .blue-div{
        transform: scale(1);
    }
}
/* End of my work section */
/* Start of contact section */
.contact-form-container{
    height: 100vh;
    width: 100%;
    background-color: $third-grey;
    form{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;

        .first-input{
            margin-top: 75px;
        }

        input{
            width: 950px;
            height: 80px;
            background-color: transparent;
            outline: none;
            // caret-color: transparent;
            border-top: transparent;
            border-left: transparent;
            border-right: transparent;
            border-bottom-color: $fourth-grey;
            font-size: 20px;
            color: $fourth-grey;                        
        }

        input:not(:last-child){
            margin-bottom: 65px;
        }

        input::placeholder{
            text-align: center;
            font-size: 20px;
            color: $fourth-grey;
            text-transform: uppercase;
        }

        .fourth-input::placeholder{
            display: none;

        }

        .third-input, 
        .fourth-input{
            width: 1370px;
        }

        button{
            margin-top: 45px;
        }
    }
}

/* End of contact section */
/* start of credit*/
.credit{
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-black;
    color: $secondary-grey;

    p{
        font-size: 20px;
        text-transform: uppercase;
    }
}
/* end of credit*/